<?xml version="1.0"?>
<!-- 
/**
 * @category   Mind
 * @package    Mind_Reward
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Mind_Reward>
            <version>0.1.0</version>
        </Mind_Reward>
    </modules>
    <frontend>
        <routers>
            <reward>
                <use>standard</use>
                <args>
                    <module>Mind_Reward</module>
                    <frontName>reward</frontName>
                </args>
            </reward>
        </routers>
        <layout>
            <updates>
                <reward>
                    <file>reward.xml</file>
                </reward>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<reward>
				<use>admin</use>
				<args>
					<module>Mind_Reward</module>
					<frontName>reward</frontName>
				</args>
			</reward>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mind_Reward>
							<title>Reward Module</title>
							<sort_order>10</sort_order>
						</Mind_Reward>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<reward>
					<file>reward.xml</file>
				</reward>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <reward>
                <class>Mind_Reward_Model</class>
                <resourceModel>reward_mysql4</resourceModel>
            </reward>
            <reward_mysql4>
                <class>Mind_Reward_Model_Mysql4</class>
                <entities>
                    <reward>
                        <table>reward</table>
                    </reward>
                </entities>
            </reward_mysql4>
        </models>
        <resources>
            <reward_setup>
                <setup>
                    <module>Mind_Reward</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reward_setup>
            <reward_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reward_write>
            <reward_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reward_read>
        </resources>
        <blocks>
            <reward>
                <class>Mind_Reward_Block</class>
            </reward>
        </blocks>
        <helpers>
            <reward>
                <class>Mind_Reward_Helper</class>
            </reward>
        </helpers>
    </global>
</config>