<?xml version="1.0"?>
<config>
  <modules>
    <Ardee_Oicdata>
      <version>0.1.0</version>
    </Ardee_Oicdata>
  </modules>
  <global>
    <helpers>
      <oicdata>
        <class>Ardee_Oicdata_Helper</class>
      </oicdata>
    </helpers>
	<blocks>
	  <oicdata>
		<class>Ardee_Oicdata_Block</class>
	  </oicdata>
	</blocks>
	<models>
	  <oicdata>
		<class>Ardee_Oicdata_Model</class>
		<resourceModel>oicdata_mysql4</resourceModel>
	  </oicdata>
	  <oicdata_mysql4>
		<class>Ardee_Oicdata_Model_Mysql4</class>
		<entities>		  
			  <oicdata>
				<table>oicdata</table>
			  </oicdata>
		</entities>
	  </oicdata_mysql4>
	</models>
	<resources>
	  <oicdata_setup>
		<setup>
		  <module>Ardee_Oicdata</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </oicdata_setup>
	  <oicdata_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </oicdata_write>
	  <oicdata_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </oicdata_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <oicdata>
	    <use>admin</use>
		<args>
		  <module>Ardee_Oicdata</module>
		  <frontName>admin_oicdata</frontName>
		</args>
	  </oicdata>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <oicdata module="oicdata">
		<title>ICO</title>
		<sort_order>100</sort_order>
		<children>
		  <oicdata module="oicdata">
		    <title>Manage ICO</title>
			<sort_order>0</sort_order>
			<action>admin_oicdata/adminhtml_oicdata</action>
		  </oicdata>
		</children>
	  </oicdata>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<oicdata translate="title" module="oicdata">
			  <title>Oicdata</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <oicdata translate="title">
			<title>Manage Oicdata</title>
			<sort_order>0</sort_order>
		  </oicdata>
			  </children>
			</oicdata>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<oicdata>
		  <file>oicdata.xml</file>
		</oicdata>
	  </updates>
	</layout>
  </adminhtml>
</config> 