<?xml version="1.0"?>
<config>
  <modules>
    <Ardee_Btcusers>
      <version>0.1.0</version>
    </Ardee_Btcusers>
  </modules>
  <global>
    <helpers>
      <btcusers>
        <class>Ardee_Btcusers_Helper</class>
      </btcusers>
    </helpers>
	<blocks>
	  <btcusers>
		<class>Ardee_Btcusers_Block</class>
	  </btcusers>
	</blocks>
	<models>
	  <btcusers>
		<class>Ardee_Btcusers_Model</class>
		<resourceModel>btcusers_mysql4</resourceModel>
	  </btcusers>
	  <btcusers_mysql4>
		<class>Ardee_Btcusers_Model_Mysql4</class>
		<entities>		  
			  <btcuser>
				<table>btcuser</table>
			  </btcuser>
        </entities>
	  </btcusers_mysql4>
	</models>
	<resources>
	  <btcusers_setup>
		<setup>
		  <module>Ardee_Btcusers</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </btcusers_setup>
	  <btcusers_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </btcusers_write>
	  <btcusers_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </btcusers_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <btcusers>
	    <use>admin</use>
		<args>
		  <module>Ardee_Btcusers</module>
		  <frontName>admin_btcusers</frontName>
		</args>
	  </btcusers>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <btcusers module="btcusers">
		<title>Users</title>
		<sort_order>100</sort_order>
		<children>
		  <btcuser module="btcusers">
		    <title>Manage Users</title>
			<sort_order>0</sort_order>
			<action>admin_btcusers/adminhtml_btcuser</action>
		  </btcuser>
		</children>
	  </btcusers>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<btcusers translate="title" module="btcusers">
			  <title>Btcusers</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <btcuser translate="title">
			<title>Manage Btcuser</title>
			<sort_order>0</sort_order>
		  </btcuser>
			  </children>
			</btcusers>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<btcusers>
		  <file>btcusers.xml</file>
		</btcusers>
	  </updates>
	</layout>
  </adminhtml>
</config> 