<?xml version="1.0"?>
<config>
  <modules>
    <Mind_Transaction>
      <version>0.1.0</version>
    </Mind_Transaction>
  </modules>
  <global>
    <helpers>
      <transaction>
        <class>Mind_Transaction_Helper</class>
      </transaction>
    </helpers>
	<blocks>
	  <transaction>
		<class>Mind_Transaction_Block</class>
	  </transaction>
	</blocks>
	<models>
	  <transaction>
		<class>Mind_Transaction_Model</class>
		<resourceModel>transaction_mysql4</resourceModel>
	  </transaction>
	  <transaction_mysql4>
		<class>Mind_Transaction_Model_Mysql4</class>
		<entities>		  
			  <transaction>
				<table>transaction</table>
			  </transaction>
		</entities>
	  </transaction_mysql4>
	</models>
	<resources>
	  <transaction_setup>
		<setup>
		  <module>Mind_Transaction</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </transaction_setup>
	  <transaction_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </transaction_write>
	  <transaction_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </transaction_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <transaction>
	    <use>admin</use>
		<args>
		  <module>Mind_Transaction</module>
		  <frontName>admin_transaction</frontName>
		</args>
	  </transaction>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <transaction module="transaction">
		<title>Transaction</title>
		<sort_order>100</sort_order>
		<children>
		  <transaction module="transaction">
		    <title>Manage Transaction</title>
			<sort_order>0</sort_order>
			<action>admin_transaction/adminhtml_transaction</action>
		  </transaction>
		</children>
	  </transaction>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<transaction translate="title" module="transaction">
			  <title>Transaction</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <transaction translate="title">
			<title>Manage Transaction</title>
			<sort_order>0</sort_order>
		  </transaction>
			  </children>
			</transaction>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<transaction>
		  <file>transaction.xml</file>
		</transaction>
	  </updates>
	</layout>
  </adminhtml>
</config> 