<?xml version="1.0"?>
<config>
  <modules>
    <Ardee_Withdrawhistory>
      <version>0.1.0</version>
    </Ardee_Withdrawhistory>
  </modules>
  <global>
    <helpers>
      <withdrawhistory>
        <class>Ardee_Withdrawhistory_Helper</class>
      </withdrawhistory>
    </helpers>
	<blocks>
	  <withdrawhistory>
		<class>Ardee_Withdrawhistory_Block</class>
	  </withdrawhistory>
	</blocks>
	<models>
	  <withdrawhistory>
		<class>Ardee_Withdrawhistory_Model</class>
		<resourceModel>withdrawhistory_mysql4</resourceModel>
	  </withdrawhistory>
	  <withdrawhistory_mysql4>
		<class>Ardee_Withdrawhistory_Model_Mysql4</class>
		<entities>		  
			  <withdrawhistory>
				<table>btcwithdraw</table>
			  </withdrawhistory>
        </entities>
	  </withdrawhistory_mysql4>
	</models>
	<resources>
	  <withdrawhistory_setup>
		<setup>
		  <module>Ardee_Withdrawhistory</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </withdrawhistory_setup>
	  <withdrawhistory_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </withdrawhistory_write>
	  <withdrawhistory_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </withdrawhistory_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <withdrawhistory>
	    <use>admin</use>
		<args>
		  <module>Ardee_Withdrawhistory</module>
		  <frontName>admin_withdrawhistory</frontName>
		</args>
	  </withdrawhistory>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <withdrawhistory module="withdrawhistory">
		<title>Withdraw</title>
		<sort_order>100</sort_order>
		<children>
		  <withdrawhistory module="withdrawhistory">
		    <title>Manage Withdraws</title>
			<sort_order>0</sort_order>
			<action>admin_withdrawhistory/adminhtml_withdrawhistory</action>
		  </withdrawhistory>
		</children>
	  </withdrawhistory>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<withdrawhistory translate="title" module="withdrawhistory">
			  <title>Withdrawhistory</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <withdrawhistory translate="title">
			<title>Manage Withdrawhistory</title>
			<sort_order>0</sort_order>
		  </withdrawhistory>
			  </children>
			</withdrawhistory>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<withdrawhistory>
		  <file>withdrawhistory.xml</file>
		</withdrawhistory>
	  </updates>
	</layout>
  </adminhtml>
</config> 